body{
    background: #f5f5f5;
}

.team-show{
    width: 1000px;
    /*height: 2000px;*/
    background: #f5f5f5;
    margin: 0 auto;
}
.team-show .team-show-title{
    padding-top: 200px;
}

.team-show .team-show-title .team-show-teamshou{
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}
.team-show .team-show-title .team-show-teamshou2{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
}
.team-show .team-show-title .team-show-line{
    width: 68px;
    border-bottom: 3px solid #aaaaaa;
    margin: 10px auto;
}

.team-show .team-show-biaoge{
    margin-top: 60px;
    height: 250px;
}
.team-show .team-show-biaoge ul li{
    float: left;
    overflow: hidden;
   padding: 0 13px;
    cursor: pointer;
    position: relative;


}
.team-show-biaoge .team-show-text{
    color: white;
    position: absolute;
    bottom: -26px;
    width: 220px;
    height: 70px;
    /*height: 250px;*/
    background: rgba(0,0,0,0.5);
}
.team-show .team-show-biaoge .team-show-text h5{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    line-height: 24px;
}
.team-show .team-show-biaoge .team-show-text .gg{
    padding-top: 100px;
}
.team-show .team-show-biaoge .team-show-text p{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 24px;
}

